In [1]:
import pandas as pd

In [2]:
ca_city_df = pd.read_csv('countries_data\\World States Cities\\CA\\CA.csv')
ca_city_df

            city_ascii country        admin_name  admin_name_ascii admin_type
0              La Dore  Canada            Quebec            Quebec   province
1     Bonnyville Beach  Canada           Alberta           Alberta   province
2               Alcona  Canada           Ontario           Ontario   province
3             Paterson  Canada  British Columbia  British Columbia   province
4             Highgate  Canada      Saskatchewan      Saskatchewan   province
...                ...     ...               ...               ...        ...
7981            Elnora  Canada           Alberta           Alberta   province
7982          Restoule  Canada           Ontario           Ontario   province
7983          Dudswell  Canada            Quebec            Quebec   province
7984          Belcarra  Canada  British Columbia  British Columbia   province
7985          Hallboro  Canada          Manitoba          Manitoba   province

[7986 rows x 5 columns]

In [3]:
cities_province = ca_city_df[['city_ascii', 'admin_name']]

In [4]:
cities_province = cities_province.rename(columns = {'city_ascii':'city', 'admin_name': 'province'})

In [5]:
cities_province.drop_duplicates(inplace=True)
cities_province

                  city          province
0              La Dore            Quebec
1     Bonnyville Beach           Alberta
2               Alcona           Ontario
3             Paterson  British Columbia
4             Highgate      Saskatchewan
...                ...               ...
7981            Elnora           Alberta
7982          Restoule           Ontario
7983          Dudswell            Quebec
7984          Belcarra  British Columbia
7985          Hallboro          Manitoba

[7986 rows x 2 columns]

In [6]:
cities_province.to_csv("countries_data\\World States Cities\\CA\\CA data.csv", index=False)