In [1]:
import pandas as pd

states = []

In [2]:
gb_city_df = pd.read_csv('countries_data\\World States Cities\\GB\\GB.csv')
gb_city_df

,city_ascii,country,admin_name,admin_name_ascii,admin_type
0,Middlebie,United Kingdom,Dumfries and Galloway,Dumfries and Galloway,council area
1,Bransgore,United Kingdom,Hampshire,Hampshire,county
2,Birthorpe,United Kingdom,Lincolnshire,Lincolnshire,county
3,Ashover,United Kingdom,Derbyshire,Derbyshire,county
4,Llandeilor-Fan,United Kingdom,Powys,Powys,unitary authority
...,...,...,...,...,...
14775,Mid Calder,United Kingdom,"Edinburgh, City of","Edinburgh, City of",council area
14776,Piddington,United Kingdom,Oxfordshire,Oxfordshire,county
14777,Torroboll,United Kingdom,Highland,Highland,council area
14778,Kirk Merrington,United Kingdom,Durham,Durham,unitary authority
14779,Boxford,United Kingdom,West Berkshire,West Berkshire,unitary authority

In [3]:
cities_county = gb_city_df[['city_ascii', 'admin_name']]

In [4]:
cities_county = cities_county.rename(columns = {'city_ascii':'city', 'admin_name': 'county'})

In [5]:
cities_county.drop_duplicates(inplace=True)
cities_county

                  city                 county
0            Middlebie  Dumfries and Galloway
1            Bransgore              Hampshire
2            Birthorpe           Lincolnshire
3              Ashover             Derbyshire
4       Llandeilor-Fan                  Powys
...                ...                    ...
14775       Mid Calder     Edinburgh, City of
14776       Piddington            Oxfordshire
14777        Torroboll               Highland
14778  Kirk Merrington                 Durham
14779          Boxford         West Berkshire

[14699 rows x 2 columns]

In [6]:
cities_county.to_csv("countries_data\\World States Cities\\GB\\GB data.csv", index=False)

In [16]:
with open("static\\data\\countries\\gb data.txt", "r") as file:
    result = [[x.strip() for x in line.split(', ')] for line in file]

states = []
for r in result:
    if r[0] not in states:
        states.append(r[0])
        
states = list(set(states))
for state in states:
    print(state)

Stockton-on-Tees
Orkney Islands
Aberdeen City
Kent
Havering
Causeway Coast and Glens
Isles of Scilly
Poole
Rotherham
Torfaen
Redcar and Cleveland
Perth and Kinross
Wolverhampton
Walsall
Renfrewshire
Wakefield
Carmarthenshire
Leicestershire
Swansea
Nottingham
Plymouth
Angus
South Tyneside
Newham
Bromley
Camden
Cheshire East
Highland
Aberdeenshire
West Berkshire
Dudley
Barnet
Moray
Trafford
Glasgow City
Telford and Wrekin
Bridgend
Salford
Devon
Stoke-on-Trent
Greenwich
Central Bedfordshire
Cornwall
Newcastle upon Tyne
Coventry
Sefton
Staffordshire
Birmingham
Cambridgeshire
Clackmannanshire
Bristol
Armagh
Croydon
Falkirk
Bexley
West Lothian
Sutton
Somerset
Derry and Strabane
Fermanagh and Omagh
Islington
Caerphilly
Harrow
Wigan
Rochdale
Cardiff
Stirling
Enfield
Worcestershire
Medway
South Lanarkshire
Brent
South Gloucestershire
South Ayrshire
Mid Ulster
Hampshire
Slough
Swindon
East Sussex
East Renfrewshire
Surrey
York
Derby
Powys
Waltham Forest
Isle of Anglesey
Sandwell
Manchester
Lewisham
Inverclyde
Argyll and Bute
Vale of Glamorgan
Gateshead
Wandsworth
Dumfries and Galloway
Cheshire West and Chester
Shropshire
Darlington
Cumbria
Essex
North Tyneside
Blackpool
Barnsley
North Lanarkshire
Rutland
Neath Port Talbot
Brighton and Hove
West Dunbartonshire
Bath and North East Somerset
Southend-on-Sea
Fife
Gloucestershire
Sunderland
Isle of Wight
Leicester
East Ayrshire
Derbyshire
Warwickshire
North Ayrshire
Wiltshire
Lambeth
Kingston upon Hull
Northamptonshire
Hounslow
Calderdale
Mid and East Antrim
Barking and Dagenham
Redbridge
London
Warrington
Eilean Siar
Hillingdon
Kensington and Chelsea
Monmouthshire
Newport
Kingston upon Thames
East Lothian
Peterborough
Bury
Gwynedd
Bolton
Merton
Southwark
Westminster
Newry
Bedford
Nottinghamshire
Bournemouth
Windsor and Maidenhead
Wrexham
Dorset
North Lincolnshire
North Yorkshire
Scottish Borders
Wirral
Bracknell Forest
Blackburn with Darwen
West Sussex
Northumberland
Sheffield
Dundee City
Wokingham
Lincolnshire
Leeds
Belfast
Stockport
Pembrokeshire
Durham
Herefordshire
Oldham
Southampton
Blaenau Gwent
Suffolk
Middlesbrough
Reading
Bradford
Shetland Islands
Norfolk
North East Lincolnshire
Tameside
Halton
Ceredigion
Merthyr Tydfil
Hertfordshire
Doncaster
Knowsley
Milton Keynes
Portsmouth
Lisburn and Castlereagh
Oxfordshire
Conwy
Liverpool
North Somerset
Kirklees
Denbighshire
Hartlepool
Flintshire
Hackney
Ards and North Down
Hammersmith and Fulham
Torbay
Buckinghamshire
St. Helens
Antrim and Newtownabbey
Solihull
Lancashire
East Dunbartonshire
Ealing
Luton
Tower Hamlets
East Riding of Yorkshire
Haringey
Richmond upon Thames
Edinburgh
Thurrock
Rhondda Cynon Taff
Midlothian

In [18]:
with open("static\\data\\countries\\au data.txt", "r") as file:
    result = [[x.strip() for x in line.split(', ')] for line in file]

states = []
for r in result:
    if r[0] not in states:
        states.append(r[0])
        
states = list(set(states))
for state in states:
    print(state)

Victoria
South Australia
Tasmania
Australian Capital Territory
New South Wales
Northern Territory
Western Australia
Jervis Bay Village
Queensland